<div class="gridWrapper">

    <div class="grid">
        <script>
            createGrid(bars);
        </script>
        <input id="slider" type="range" min="100" max="500" step="20" />
    </div>
    <div class="playButton"></div>
</div>
