<script type="text/javascript" src="js/animation.js"></script>
<script type="text/javascript" src="js/socket.io.min.js"></script>
<script type="text/javascript" src="js/socket.js"></script>
<script type="text/javascript" src="js/functions.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.3/howler.core.min.js"></script>
<script type="text/javascript" src="js/sounds.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<div class="container">
	<div class="header">Mass Click Orchestra</div>

	<select id="instrumentSelect" name="instrument">
		<option value="piano" selected>Piano</option>
		<option value="strings">Strings<option>
		<option value="saxophone">Saxophone</option>
	</select>

	<div class="playButton"></div>

	<div class="checkBoxWrapper">
		<input type="checkbox" class="loopCheckBox" checked/>In Schleife abspielen
	</div>
</div>
<div class="content">{{>grid}}</div>
