<script type="text/javascript" src="js/animation.js"></script>
<script type="text/javascript" src="js/socket.io.min.js"></script>
<script type="text/javascript" src="js/socket.js"></script>
<script type="text/javascript" src="js/functions.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.3/howler.core.min.js"></script>
<script type="text/javascript" src="js/sounds.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<div class="header">Mass Click Orchestra</div>
<div class="content">{{>grid}}</div>
