<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>MassClickOrchestra</title>
    <link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
		<script src="js/login.js"></script>
</head>
<div class="container">
<div class="header">Mass Click Orchestra</div>
</div>
<div class="content">

	<div class="loginWrapper">
		<form action="/roomservice" method="post">
			<input type="number" class="roomIdInput" name="room" placeholder="Raum-Nummer eingeben..."/>
			<button class="send" type="submit" value="Beitreten">Beitreten</button>

		</form>
		<form action="/roomservice" method="post">
			<input type="hidden" name="room" value="random">
			<button class="random" type="submit" value="Zufälliger Raum">Zufälliger Raum</button>
		</form>
		<div class="notFound">Fehler! Raum nicht gefunden...</div>
	</div>
</div>
