<div class="header">Mass Click Orchestra</div>
<div class="content">

	<div class="loginWrapper">
		<form action="/roomservice" method="post">
			<input class="roomIdInput" name="room" placeholder="Raum-Nummer eingeben..."/>
			<button class="send" type="submit" value="Beitreten">Beitreten</button>

		</form>
		<form action="/roomservice" method="post">
			<input type="hidden" name="room" value="random">
			<button class="random" type="submit" value="Zufälliger Raum">Zufälliger Raum</button>
		</form>
	</div>
</div>
